@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  width: 500px;
  background-color: white;
}
img {
  width: 100%;
  height: 250px;
}
.space-around {
  margin: 40px;
}
h1 {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", serif;
  padding-bottom: 20px;
  font-size: 3rem;
}
p{
  font-size: 1.35rem;
  line-height: 1.6;
}
.preparation{
  background-color: hsl(330, 100%, 98%);
  padding: 40px;
  border-radius: 15px;
}
.preparation p {
  color: hsl(332, 51%, 32%);
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.preparation li {
  margin-bottom: 10px;
}
li, .nutrition p, td{
  font-size: 1.2rem;
}
h2 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 600;
  font-family: "Young Serif", serif;
}
.space-around li {
  padding-left: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
}
table {
  margin-top: 25px;
}
tr {
  padding: 10px;
  margin-bottom: 5px;
}
.figure {
  color: hsl(14, 45%, 36%);
}
td {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 30px;
  font-weight: 600;
  margin-bottom: 5px;
  max-width: 100%;
  border-bottom: 2px solid hsl(30, 18%, 87%);
}
span{
  padding-left: 7rem;
}
/*Media Query min. width: 1024*/
@media screen and (min-width: 700px) {
  main {
    padding: 30px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
  }
  body {
    background-color: hsl(30, 54%, 90%);
  }
  img {
    border-radius: 15px;
    height: 250px;
  }
  td {
    padding-right: 90px;
  }
}
